{% extends "base.html" %}

{% block title %}Home - Quality Management{% endblock %}

{% block content %}
    <h2 class="text-2xl font-bold mb-4">Welcome to Quality Management</h2>
    <p class="mt-6 py-8 px-8 bg-slate-300">
        Quality management in healthcare is a systematic approach to ensuring that healthcare services are safe, effective, patient-centered, timely, efficient, and equitable. It involves setting standards for care, measuring performance against those standards, and making improvements where necessary.
    </p>

    <p class="mt-6 py-8 px-8 bg-slate-300">
        Quality, in the traditional sense, relates to whether a product or service satisfies the customer by meeting expected characteristics. 
        However, in the context of healthcare, quality definition takes a more complex form. Not only must healthcare services satisfy the consumer – in this case, the patient – but they must also meet a stringent set of criteria to ensure they meet the highest possible standards and protocols.
        Indicators of quality are: Mortality Rate: This measures the percentage of patients who die while in the hospital’s care before being discharged.
        Safety Metrics: These indicators relate to medical incidents, including errors and adverse events. For example, tracking falls, infections, and medication errors.
        Hospital Readmission Rate: Monitoring how often patients return to the hospital shortly after discharge helps assess the effectiveness of care and patient outcomes.
        Patient Experience: Gathering feedback from patients about their satisfaction with care quality, communication, and overall experience.
        Timeliness and Effectiveness of Care: Evaluating wait times, timely diagnosis, and appropriate treatment delivery.
    </p>
{% endblock %}
